<strong> Olá, {{ user }}</strong>

<p>Uma nova solicitação foi cadastrada, confira os detalhes abaixo:</p>
<p>
  <strong>Paciente:</strong> {{ patient }}<br/>
  <strong>Produto:</strong> {{ product }}<br/>
  <small>
    Saiba mais acessando sua <a href="https://ortosetup.vercel.app/">conta</a><br/>
  </small>
</p>